.single-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "selection result";
}

.single-selection > .selection-result {
  grid-area: result;
  background-color: purple;
}