@import "oneSelectionStyles.css";

:root {
  --dark-grey: #5d5c61;
  --light-grey: #379683;
  --grey-blue: #7395AE;
  --darker-blue: #557A95;
  --brown: #B1A296;
}

.section-header {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.main > .make-selections {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: space-between;
  flex: 0 0 50%;
  background-color: var(--brown)
}

.main > .tracked-selections {
  background-color: var(--darker-blue);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 50px 1fr;
  grid-template-areas: 
  "hd hd hd"
  "record record record"
  "picks picks picks";
  flex: 0 0 50%;
}

.tracked-selections > header {
  grid-area: hd;
  background-color: orange;
  text-align: center;
}

.tracked-selections > section {
  grid-area: record;
  background-color: pink;
  text-align: center;
}

.tracked-selections > .selections-list {
  grid-area: picks;
  background-color: orange;
}

@media screen and (max-width: 600px) {
  .make-selections {
    flex: 0 0 65%;
  }
  
  .tracked-selections {
    flex: 0 0 35%;
  }
}